<div *ngIf="post$ | async as post" class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 link-secondary" [routerLink]="['../']">Асоси</a>
    <a *ngIf="post.category != 'Meros'" class="p-2 link-secondary" [routerLink]="['../malumot']">Маълумоти умумӣ</a>
    <a *ngIf="post.category != 'Meros'" class="p-2 link-secondary" [routerLink]="['../tarikh']">Таърих</a>
    <a *ngIf="post.category == 'Hunarho'" class="p-2 link-secondary" [routerLink]="['../tajhizot']">Таҷҳизот</a>
    <a *ngIf="post.category == 'Asbobho' || post.category == 'Hunarho' || post.category == 'Libosho'" class="p-2 link-secondary" [routerLink]="['../tamos']">Тамос</a>
    <a *ngIf="post.category == 'Asbobho' || post.category == 'Hunarho'" class="p-2 link-secondary" [routerLink]="['../mavqe']">Мавқеи ҷойгиршавӣ</a>
  </nav>
</div>

<div *ngIf="post$ | async as post" class="container">
  <div class="m-0 d-flex justify-content-between align-items-center">
    <h1>
      Таърих
    </h1>

  </div>
  <div class="m-0 d-flex justify-content-between align-items-center">
    <strong *ngIf="post.category == 'Hunarho'" class="mb-2 text-primary">Ҳунарҳои миллӣ</strong>
    <strong *ngIf="post.category == 'Jashnho'" class="mb-2 text-primary">Ҷашну маросимҳо</strong>
    <strong *ngIf="post.category == 'Libosho'" class="mb-2 text-primary">Либосҳои миллӣ</strong>
    <strong *ngIf="post.category == 'Asbobho'" class="mb-2 text-primary">Асбобҳои мусиқӣ</strong>
    <strong *ngIf="post.category == 'Hurokho'" class="mb-2 text-primary">Хӯрокҳои суннатӣ</strong>
    <strong *ngIf="post.category == 'Meros'" class="mb-2 text-primary">Мероси адабӣ</strong>

    <small class="text-muted">Муаллиф: @{{ post.author}}, Сана: {{ post.date | date: "d MMMM y, HH:mm" }}</small>
  </div>


  <quill-view [content]="post.photoTarikh"></quill-view>


  <div class="mt-2 mb-3">
    <quill-view [content]="post.textTarikh"></quill-view>
  </div>

</div>
