<body class="container">
<form class="form-signin">
  <h1 class="h3 mb-3 text-center font-weight-normal">Воридкунии нашри нав</h1>
  <label>Сарлавҳа, ҳаёт ва фаъолият, асарҳо:</label>

  <input [(ngModel)]="title"  type="title" name="title" class="form-control mb-3" placeholder="Сарлавҳа">

  <label class="mt-3">Ҳаёт ва фаъолият:</label>
  <quill-editor [(ngModel)]="photoMalumot"  name="photoMalumot" placeholder="Расми шоирро интихоб кунед: "></quill-editor>
  <quill-editor [(ngModel)]="textFaoliyat"  name="textFaoliyat" placeholder="Матн оиди зиндагиномаи шоир ворид кунед: "></quill-editor>

  <label class="mt-3">Маҳсули адабӣ:</label>
  <quill-editor [(ngModel)]="photoAsarho"  name="photoAsarho" placeholder="Расми асари шоирро интихоб кунед: "></quill-editor>
  <quill-editor [(ngModel)]="textAsarho"  name="textAsarho" placeholder="Матн оиди мероси адабӣ ворид кунед: "></quill-editor>


  <button class="btn btn-lg btn-primary btn-block mb-5" (click)="createPost()">Нашр</button>
</form>
</body>
