<body class="text-center container">
<main class="form-signin w-100 m-auto">
  <form>
    <!--<img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
    <h1 class="h3 mb-3 fw-normal">Лутфан аз қайд гузаред</h1>

    <div class="form-floating mb-1">
      <input [(ngModel)]="name" name="name" class="form-control" id="inputName">
      <label for="inputName">Ном</label>
    </div>

    <div class="form-floating mb-1">
      <input [(ngModel)]="login" name="login" class="form-control" id="inputLogin">
      <label for="inputLogin">Логин</label>
    </div>

    <div class="form-floating mb-1">
      <input [(ngModel)]="email" name="email" class="form-control" id="inputEmail">
      <label for="inputEmail">Почтаи электронӣ</label>
    </div>

    <div class="form-floating mb-3">
      <input [(ngModel)]="password" type="password" name="password" class="form-control" id="inputPassword">
      <label for="inputPassword">Парол</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" (click)="submit()">Бақайдгирӣ</button>
    <p class="mt-5 mb-3 text-body-secondary">©2023</p>
  </form>
</main>
</body>
